{% extends 'front.layouts.app' %}

{% block title %}My Site{% endblock %}

{% block content %}
    <!-- promo -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 promo_home_left_box">
            <img src="/img/bg-xs.jpg" alt="" class="visible-xs">
            <h3 class="promo_home_left_title space-xs">Сервисный контракт ISUZU</h3>
            <p class="promo_home_left_text space-xs">продление гарантии на силовую линию до 5 лет</p>
            <p class="promo_home_left_button space-xs"><a href="" class="btn btn-white">Подробнее</a></p>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-6 hidden-xs" style="padding-left: 0">
            <div class="promo_home_right_image"></div>
            <h3 class="promo_home_right_title promo_home_right_space">Выгодный лизинг</h3>
            <p class="promo_home_right_text promo_home_right_space">Специальная программа финансирования автомобилей для оптимальных условий покупки автомобиля.</p>
            <p class="promo_home_right_button promo_home_right_space"><a href="" class="btn btn-red">Подробнее</a></p>
        </div>
    </div>
    <!--/ promo -->

    <!-- configurator -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12 visible-xs" style="height: 45px"></div>

            <div class="col-lg-12">
                <h1 class="title_a1">Конфигуратор</h1>
                <p class="__configurator_description hidden-sm hidden-xs">Выберите тип грузовика</p>
                <p class="hidden-lg hidden-md space-xs">
                    <select class="form-control">
                        <option>Выберите тип грузовика</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </p>
            </div>
        </div>

        <div class="row hidden-sm hidden-xs">
            {% for item in types %}
            <div class="col-md-4 col-lg-3 text-center __configurator_item" style="background-image: url('{{ item.image }}'); ">
                <p>{{ item.title | raw }}</p>
                <a href="{{ route("front_configurator_chassis", {"alias": item.id}) }}" class="btn-red-all">Следующий шаг</a>
            </div>
            {% endfor %}
        </div>
    </div>
    <!--/ configurator -->


    <!-- text -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="title_a1">В наличии</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-7 col-md-8" style="margin-bottom: 32px;">
                <img src="/img/catalog/3_1.jpg" alt="" style="width: 100%" class="__effect_zoom">
            </div>

            <div class="col-lg-5 col-md-4 __home_item_cover_decription">
                <p class="price space-xs">2 481 000 <span class="glyphicon glyphicon-ruble" aria-hidden="true"></span></p>
                <p class="title space-xs">Бортовой автомобиль ELF 7.5</p>
                <p class="space-xs">
                    <a href="{{ route('front_leasing_view', {id: 1}) }}" class="btn btn-red">Оформить заявку</a>
                </p>
            </div>
        </div>
        <div class="row">
            {% for item in product %}
                <div class="col-lg-6 col-md-6 col-xs-12 __home_item_list">
                    <img src="{{ item.img }}" alt="" class="__effect_zoom">
                    <p class="price space-xs">{{ item.price | number_format(0, '.', ' ')}} <span class="glyphicon glyphicon-ruble" aria-hidden="true"></span></p>
                    <p class="title space-xs">{{ item.title }}</p>
                    <p class="space-xs">
                        <a href="{{ route('front_leasing_view', {id: item.id}) }}" class="btn btn-red">Оформить заявку</a>
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}