{% extends 'front.layouts.app' %}

{% block title %}My Site{% endblock %}

{% block content %}
    <!-- promo -->
    <div class="row">
        <div class="col-xs-12 col-md-7 col-lg-7" style="height: 781px; background: url('img/0_001.jpg') center; background-size: cover; padding-right: 0">
            <h3 style="padding-top: 468px; padding-left: 80px; color: #ffffff; font-size: 48px; line-height: 76px;">Сервисный контракт ISUZU</h3>
            <p style="padding-left: 80px; color: #ffffff; font-size: 22px; line-height: 28px;">продление гарантии на силовую линию до 5 лет</p>
            <p style="padding-top: 12px; padding-left: 80px;"><button class="btn" style="background: none; border: 2px solid #ffffff; border-radius: 0; padding: 10px 32px; color: #ffffff; font-size: 18px;">Подробнее</button></p>
        </div>

        <div class="col-xs-12 col-md-5 col-lg-5" style="padding-left: 0">
            <div style="height: 450px; background: url('img/0_002.jpg') center; background-size: cover;"></div>
            <h3 style="padding-left: 15px; color: #000000; font-size: 48px; line-height: 76px;">Выгодный лизинг</h3>
            <p style="padding-left: 15px; padding-bottom: 0; color: #000000; font-size: 22px; font-weight: 300; line-height: 28px;">Специальная программа финансирования автомобилей для оптимальных условий покупки автомобиля.</p>
            <p style="padding-top: 12px; padding-left: 15px;"><button class="btn" style="background: none; border: 2px solid red; border-radius: 0; padding: 10px 32px; color: #000000; font-size: 18px;">Подробнее</button></p>
        </div>
    </div>
    <!--/ promo -->

    <!-- text -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="title_a1">В наличии</h1>
            </div>

            <div class="col-lg-7" style="margin-bottom: 32px">
                <img src="img/3_001.jpg" alt="">
            </div>

            <div class="col-lg-5" style="margin-bottom: 32px">
                <div style="padding-top: 365px; padding-left: 24px">
                    <p style="color: #000000; font-size: 64px; line-height: 26px;">2 481 000 <span class="glyphicon glyphicon-ruble" aria-hidden="true" style="color: #000000; font-size: 42px;"></span></p>
                    <p  style="padding-top: 7px; padding-bottom: 20px; color: #000000; font-size: 24px;">Бортовой автомобиль ELF 7.5</p>
                    <p>
                        <a href="{{ route('front_leasing_view', {id: 1}) }}" class="btn" style="background: none; border: 2px solid red; border-radius: 0; padding: 10px 32px; color: #000000; font-size: 18px;">Оформить заявку</a>
                    </p>
                </div>
            </div>


            {% for item in product %}
                <div class="col-lg-6" style="{{ cycle(['padding-right','padding-left'],loop.index) }}: 0; margin-bottom: 48px">
                    <img src="{{ item.img }}" alt="" style="width: 100%; margin-bottom: 60px;">
                    <p style="color: #000000; font-size: 64px; line-height: 26px;">{{ item.price | number_format(0, '.', ' ')}} <span class="glyphicon glyphicon-ruble" aria-hidden="true" style="color: #000000; font-size: 42px;"></span></p>
                    <p  style="padding-top: 7px; padding-bottom: 20px; color: #000000; font-size: 24px;">{{ item.title }}</p>
                    <p>
                        <a href="{{ route('front_leasing_view', {id: item.id}) }}" class="btn btn-red">Оформить заявку</a>
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}