{% extends 'front.layouts.app' %}

{% block content %}
    <!-- promo -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 promo_home_left_box">
            <img src="/img/bg-xs.jpg" alt="" class="visible-xs">
            <h3 class="promo_home_left_title space-xs">Выберите тип грузовика ISUZU</h3>
            <p class="promo_home_left_text space-xs">удобный конфигуратор кузовных надстроек</p>
            <p class="promo_home_left_button space-xs"><a href="{{ route('front_configurator_index') }}" class="btn btn-white">Подробнее</a></p>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-6 hidden-xs" style="padding-left: 0">
            <div class="promo_home_right_image"></div>
            <h3 class="promo_home_right_title promo_home_right_space">Выгодный лизинг</h3>
            <p class="promo_home_right_text promo_home_right_space">Специальная программа финансирования автомобилей для оптимальных условий покупки автомобиля</p>
            <p class="promo_home_right_button promo_home_right_space"><a href="{{ route('front_leasing_info') }}" class="btn btn-red">Подробнее</a></p>
        </div>
    </div>
    <!--/ promo -->

    <!-- configurator -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12 visible-xs" style="height: 45px"></div>

            <div class="col-lg-12">
                <h1 class="title_a1">Конфигуратор</h1>
                <p class="__configurator_description hidden-sm hidden-xs">Выберите тип грузовика</p>
                <div class="hidden-lg hidden-md space-xs">
                    <div class="select_button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Выберите тип грузовика
                    </div>

                    <div class="collapse" id="collapseExample" style="padding-top: 24px">
                        {% for item in types %}
                        <p class="select_button_list"><a href="{{ route("front_configurator_chassis", {"alias": item.id}) }}">{{ item.title | raw }}</a></p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row hidden-sm hidden-xs">
            {% for item in types %}
            <div class="col-md-4 col-lg-3 text-center __configurator_item" style="background-image: url('{{ item.image }}'); ">
                <p>{{ item.title | raw }}</p>
                <a href="{{ route("front_configurator_chassis", {"alias": item.id}) }}" class="btn-red-all">Следующий шаг</a>
            </div>
            {% endfor %}
        </div>
    </div>
    <!--/ configurator -->


    <!-- text -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="title_a1">В наличии</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-7 col-md-8" style="margin-bottom: 32px;">
                <img src="/img/catalog/3_1.jpg" alt="" style="width: 100%" class="__effect_zoom">
            </div>

            <div class="col-lg-5 col-md-4 __home_item_cover_decription">
                <p class="price space-xs">2 850 538 ₽</p>
                <p class="title space-xs">Бортовой автомобиль ELF 7.5</p>
                <p class="space-xs">
                    <a href="{{ route('front_configurator_leasing', {typeId: 3, baseId: 4 }) }}" class="btn btn-red btn-space-right">Оформить заявку</a>
                    <button type="button" class="btn btn-gray-link" data-toggle="modal" data-target="#modal_get_bonus">Получить скидку</button>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12 __home_item_list">
                <img src="/img/catalog/2_2.jpg" alt="" class="__effect_zoom">
                <p class="price space-xs">2 606 800 ₽</p>
                <p class="title space-xs">ISUZU ELF 7.5</p>
                <p class="space-xs">
                    <a href="{{ route('front_configurator_leasing', {typeId: 2, baseId: 4 }) }}" class="btn btn-red btn-space-right">Оформить заявку</a>
                    <button type="button" class="btn btn-gray-link" data-toggle="modal" data-target="#modal_get_bonus">Получить скидку</button>
                </p>
            </div>

            <div class="col-lg-6 col-md-6 col-xs-12 __home_item_list">
                <img src="/img/catalog/2_3.jpg" alt="" class="__effect_zoom">
                <p class="price space-xs">4 811 800 ₽</p>
                <p class="title space-xs">ISUZU ELF 9.5 EXTRALONG</p>
                <p class="space-xs">
                    <a href="{{ route('front_configurator_leasing', {typeId: 10, baseId: 5 }) }}" class="btn btn-red btn-space-right">Оформить заявку</a>
                    <button type="button" class="btn btn-gray-link" data-toggle="modal" data-target="#modal_get_bonus">Получить скидку</button>
                </p>
            </div>
        </div>
    </div>


{% endblock %}