{% extends 'front.layouts.app' %}

{% block title %}Лизинговые расчеты{% endblock %}

{% block content %}
    <div class="container">
        <div class="row" >

            <div class="col-xs-12 space-xs hidden-lg hidden-md" style="padding: 0 30px">
                <p><br><img src="{{ part.path() }}" alt="" style="width: 100%"></p>
            </div>

            <div class="col-md-6 col-xs-12">
                <h2 class="__catalog_view_title space-xs">{{ part.vendor_code }}</h2>
                <h3 class="__catalog_view_sub_title space-xs">{{ part.title }} подходит для моделей:</h3>
                {% if part.description is not empty %}
                <p class="__catalog_view_description space-xs">{{ part.description }}</p>
                {% endif %}

                <div class="row __catalog_view_price_top">
                    <div class="col-md-7 col-xs-12">
                        <p class="__catalog_view_price space-xs">{{ (part.price * 1.25) | number_format(0, '.', ' ') }} <i class="fa fa-rub" aria-hidden="true"></i></p>
                    </div>
                    <div class="col-md-5 col-xs-12 text-right">
                        <p class="space-xs">
                            <button type="button" class="btn btn-red btn-block" data-toggle="modal" data-target="#modal_order">Оставить запрос</button>
                        </p>
                    </div>


                </div>
            </div>

            <div class="col-md-6 hidden-xs">
                <img src="{{ part.path() }}" alt="" class="__catalog_view_image">
            </div>
        </div>

        <div class="row">
            <h3>Картиночки</h3>

            <div class="col-md-6">
                <img src="/tmp/1.bmp" alt="" style="width: 100%">
            </div>

            <div class="col-md-6">
                <img src="/tmp/2.bmp" alt="" style="width: 100%">
            </div>

            <div class="col-md-6">
                <img src="/tmp/3.bmp" alt="" style="width: 100%">
            </div>

            <div class="col-md-6">
                <img src="/tmp/4.bmp" alt="" style="width: 100%">
            </div>

            <div class="col-md-6">
                <img src="/tmp/5.bmp" alt="" style="width: 100%">
            </div>
        </div>
    </div>
{% endblock %}