{% extends 'front.layouts.app' %}

{% block title %}Лизинговые расчеты{% endblock %}

{% block content %}

    <div class="container">
        <h1 class="title_a1">Грузовики</h1>


        <div class="row hidden-xs">
            <!--
            <div class="col-md-3">
                <p class="__search_result_item_action">Фильтр <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></p>
            </div>
            <div class="col-md-4">
                <p class="__search_result_item_action">Найдено 25 грузовико</p>
            </div>
            -->

            <div class="col-md-12">
                <p class="__search_result_item_action text-right">
                    <a href="{% if selectTypes is empty or item.selected %}?s=1{% else %}&s=1{% endif %}">
                        Сортировать по цене <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                    </a>
                </p>
            </div>
        </div>


        <div class="row">
            <!-- filter -->
            <div class="col-md-3 hidden-xs">

                <form method="get" action="">
                    <input type="hidden" name="s" value="0">
                <h3>Тип грузовика</h3>

                {% for item in types %}
                    <div class="checkbox">
                        <label>
                            {% if selectTypes is empty or item.selected %}
                                <input type="checkbox" name="t[]" value="{{ item.id }}" checked onchange="this.form.submit()"> {{ item.title | replace({'<br>': " "}) }}
                            {% else %}
                                <input type="checkbox" name="t[]" value="{{ item.id }}" onchange="this.form.submit()"> {{ item.title | replace({'<br>': " "}) }}
                            {% endif %}
                        </label>
                    </div>
                {% endfor %}
                </form>


                <!--
                <h3>Модель</h3>

                    {% for item in categories %}
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="category_id" value="{{ item.id }}"> {{ item.title }}
                            </label>
                        </div>
                    {% endfor %}

                <h3>Тоннаж</h3>

                {% for item in tons %}
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="ton[]" value="{{ item }}" {% if loop.first or item==product.ton %}checked{% endif %}> {{ item / 10 }}
                        </label>
                    </div>
                {% endfor %}
                -->
            </div>
            <!--/ filter -->

            <!-- result -->
            <div class="col-md-9 col-xs-12 __search_result_box">
                {% for item in list %}
                    <div class="row __search_result_item">
                        <div class="col-md-5">
                            <img src="{{ item.path() }}" alt="" class="__search_result_item_image">
                        </div>
                        <div class="col-md-7">
                            <h3 class="__search_result_item_title space-xs">{{ item.title }}</h3>

                            <p class="space-xs __search_result_text">
                                <span class="_text_gray">Тоннаж</span><br>

                                {% for value in tons %}
                                    {% if value==item.ton %}
                                    <label class="radio-inline">
                                        <input type="radio" checked disabled > {{ value / 10 }}
                                    </label>
                                    {% endif %}
                                {% endfor %}
                            </p>

                            <p class="space-xs __search_result_text">
                                <span class="_text_gray">Габариты</span><br>
                                <label class="radio-inline">
                                    <input type="radio" checked disabled> {{ item.size_small }}, м
                                </label>
                            </p>

                            <p class="space-xs __search_result_item_price">{{ item.price }} <i class="fa fa-rub" aria-hidden="true"></i></p>

                            <p class="space-xs">
                                <a href="{{ route('front_search_view', {id: item.id }) }}" class="btn btn-red btn-space-right">Подробнее</a>
                                {% if item.config_url %}
                                <a href="{{ item.config_url }}" class="btn btn-gray-link">Открыть в Конфигураторе</a>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!--/ result -->
        </div>
    </div>
{% endblock %}