{% extends 'front.layouts.app' %}

{% block title %}Лизинговые расчеты{% endblock %}

{% block content %}

    <div class="container">
        <h1 class="title_a1">Грузовики</h1>
        <div class="row hidden-xs">
            <div class="col-md-12">
                <p class="__search_result_item_action text-right">
                    <a href="{{ route('front_search_index') }}?{{ sortUrl }}">
                        Сортировать по цене
                        {% if isSort %}
                            <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                        {% endif %}
                    </a>
                </p>
            </div>
        </div>

        <div class="row">
            <!-- filter -->
            <div class="col-md-3 hidden-xs">

                <form method="get" action="">
                    <input type="hidden" name="s" value="0">
                <h3>Тип грузовика</h3>

                {% for item in types %}
                    <div class="checkbox">
                        <label>
                            {% if selectTypes is empty or item.selected %}
                                <input type="checkbox" name="t[]" value="{{ item.id }}" checked onchange="this.form.submit()"> {{ item.title | replace({'<br>': " "}) }}
                            {% else %}
                                <input type="checkbox" name="t[]" value="{{ item.id }}" onchange="this.form.submit()"> {{ item.title | replace({'<br>': " "}) }}
                            {% endif %}
                        </label>
                    </div>
                {% endfor %}
                </form>
            </div>
            <!--/ filter -->

            <!-- filter for mobil -->
            <div class="row visible-xs">
                <div class="col-xs-12">
                    <div class="__search_result_filter_button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Фильтр <span class="glyphicon glyphicon-menu-down pull-right" aria-hidden="true"></span>
                    </div>
                </div>

                <div class="col-xs-12 collapse" id="collapseExample" style="padding-left: 45px">
                        <form method="get" action="">
                            <h3>Тип грузовика</h3>

                            {% for item in types %}
                                <div class="checkbox">
                                    <label>
                                        {% if selectTypes is empty or item.selected %}
                                            <input type="checkbox" name="t[]" value="{{ item.id }}" checked onchange="this.form.submit()"> {{ item.title | replace({'<br>': " "}) }}
                                        {% else %}
                                            <input type="checkbox" name="t[]" value="{{ item.id }}" onchange="this.form.submit()"> {{ item.title | replace({'<br>': " "}) }}
                                        {% endif %}
                                    </label>
                                </div>
                            {% endfor %}
                        </form>
                </div>

                <div class="col-xs-12">
                    <a class="__search_result_filter_button" href="{{ route('front_search_index') }}?{{ sortUrl }}">
                        Сортировать по цене
                        {% if isSort %}
                            <span class="glyphicon glyphicon-menu-up pull-right" aria-hidden="true"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-menu-down pull-right" aria-hidden="true"></span>
                        {% endif %}
                    </a>
                </div>

                <div class="col-xs-12">
                    <p class="__search_result_filter_count">{{ list | length }} найдено</p>
                </div>
            </div>

            <!-- result -->
            <div class="col-md-9 col-xs-12 __search_result_box">
                {% for item in list %}
                    <div class="row __search_result_item">
                        <div class="col-md-5 col-xs-12">
                            <p class="space-xs"><img src="{{ item.path() }}" alt="" class="__search_result_item_image"></p>
                        </div>
                        <div class="col-md-7 col-xs-12">
                            <h3 class="__search_result_item_title space-xs">{{ item.title }} {{ product.type }}</h3>

                            <p class="space-xs __search_result_text">
                                <span class="_text_gray">Тоннаж</span><br>

                                {% for value in tons %}
                                    {% if value==item.ton %}
                                    <label class="radio-inline">
                                        <input type="radio" checked disabled > {{ value / 10 }}
                                    </label>
                                    {% endif %}
                                {% endfor %}
                            </p>

                            <p class="space-xs __search_result_text">
                                <span class="_text_gray">Габариты</span><br>
                                <label class="radio-inline">
                                    <input type="radio" checked disabled> {{ item.size_small }}, м
                                </label>
                            </p>

                            <p class="space-xs __search_result_item_price"><button type="button" class="btn btn-gray-link" data-toggle="modal" data-target="#modal_get_bonus">По запросу</button></p>

                            <p class="space-xs">
                                <a href="{{ route('front_search_view', {id: item.id }) }}" class="btn btn-red btn-space-right">Подробнее</a>
                                {% if item.config_url %}
                                <a href="{{ item.config_url }}" class="btn btn-gray-link">Открыть в Конфигураторе</a>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!--/ result -->
        </div>
    </div>
{% endblock %}