<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Проверка токена битрикса</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Информация о пользователе битрикс</h1>

                <h2>Шаг 1. Получение кода</h2>
                <p>Получен код: <strong>{{ code }}</strong></p>
                <p><a href="https://trakprays.bitrix24.ru/oauth/authorize/?response_type=code&client_id={{ client_id }}" target="_blank">Нажми</a></p>

                <h2>Шаг 2. Получение авторизационного кода</h2>
                {% if url is not empty %}
                <p><a href="{{ url }}" target="_blank">Нажми</a></p>
                {% endif %}
            </div>
        </div>

        <div class="row well">
            <div class="col-md-12">
                <h2>Шаг 3. Обновление токена в базе данных</h2>
            </div>

            <div class="col-md-8">
                <form class="form-horizontal" method="post" action="{{ route('bitrix_token_update') }}">
                    {{ csrf_field() }}
                    <div class="form-group">
                        <label class="col-sm-2 control-label">access_token</label>
                        <div class="col-sm-10">
                            <input type="text" name="access_token" value="{{ model.access_token }}" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">refresh_token</label>
                        <div class="col-sm-10">
                            <input type="text" name="refresh_token" value="{{ model.refresh_token }}" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success">Обновить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>