{% extends "front.layout.app" %}

{% block content %}
    {% include 'front/widget/menu.twig' with data.menu only %}

    <div class="container" style="padding-top: 150px; padding-bottom: 300px;">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <h3>{{ data.form.modal.form_title | replace({'city_name': city}) }}</h3>
                <p>{{ data.form.modal.form_description | replace({'city_name': city}) }}</p>

            <form method="post" action="{{ route('callback') }}">
                {{ csrf_field() }}
                <div class="form-group text-left">
                    <label class="text-left">{{ data.form.modal.message_label }}</label>
                    <textarea class="form-control" rows="5" name="message" placeholder="{{ data.form.modal.message_placeholder }}"></textarea>
                </div>
                <div class="form-group text-left">
                    <label>{{ data.form.modal.name_label }}</label>
                    <input type="text" name="name" class="form-control" placeholder="{{ data.form.modal.name_placeholder }}" required>
                </div>
                <div class="form-group text-left">
                    <label class="text-left">{{ data.form.modal.phone_label }}</label>
                    <input type="text" name="phone" class="form-control" placeholder="{{ data.form.modal.phone_placeholder }}" required>
                </div>
                <button type="submit" class="btn btn-warning">Позвонить мне быстро</button>
            </form>

            <p style="padding-top: 24px; font-size: 80%">Ваши контактные данные в безопасности<br>и не будут переданы третьим лицам</p>
            </div>
        </div>

        <!--
        <div class="row">
            <div class="col-md-6">
                <div id="fb-root"></div>
                <script>(function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s); js.id = id;
                        js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.10";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));</script>

                <div class="fb-comments" data-href="http://isuzu.market/" data-numposts="3"></div>
            </div>
            <div class="col-md-6">
                <script type="text/javascript" src="//vk.com/js/api/openapi.js?146"></script>

                <script type="text/javascript">
                    VK.init({apiId: 6145071, onlyWidgets: true});
                </script>

                <div id="vk_comments"></div>
                <script type="text/javascript">
                    VK.Widgets.Comments("vk_comments", {limit: 5, attach: "*"});
                </script>
            </div>
        </div>
        -->





    </div>
{% endblock %}
