{% set step = 2 %}

{% extends 'front.configurator.layout' %}

{% block configurator %}
    <div class="row">
        <div class="col-lg-12">
            <h2 style="margin-top: 0">Шасси</h2>


            {% if elf is not empty %}
            <div class="col-lg-4 col-md-4">
                <img src="/img/configurator/chassis/NMR_Chassis_2.jpg" alt="" style="width: 100%">
                <h3 class="text-center">Elf</h3>

                <ul class="nav nav-pills">
                    {% for item in elf %}
                        <li><a href="{{ route("front_configurator_options", {"typeId": type_id, "baseId": item.id}) }}">{{ item.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            {% if forward is not empty %}
                <div class="col-lg-4 col-md-4">
                    <img src="/img/configurator/chassis/SAM_1459.jpg" alt="" style="width: 100%">
                    <h3 class="text-center">Forward</h3>

                    <ul class="nav nav-pills">
                        {% for item in forward %}
                            <li><a href="{{ route("front_configurator_options", {"typeId": type_id, "baseId": item.id}) }}">{{ item.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            {% if giga is not empty %}
                <div class="col-lg-4 col-md-4">
                    <img src="/img/configurator/chassis/giga_white.jpg" alt="" style="width: 100%">
                    <h3 class="text-center">GIGA</h3>

                    <ul class="nav nav-pills">
                        {% for item in giga %}
                            <li><a href="{{ route("front_configurator_options", {"typeId": type_id, "baseId": item.id}) }}">{{ item.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}






