{% set step = 2 %}

{% extends 'front.configurator.layout' %}

{% block configurator %}
    <div class="row">
        <div class="col-lg-12">
            <h2 style="margin-top: 0">Шасси</h2>

            <table class="table">
                <thead>
                <tr>
                    <th><img src="/img/configurator/chassis/NMR_Chassis_2.jpg" alt="" style="width: 100%"></th>
                    <th><img src="/img/configurator/chassis/SAM_1459.jpg" alt="" style="width: 100%"></th>
                    <th><img src="/img/configurator/chassis/giga_white.jpg" alt="" style="width: 100%"></th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><h3 class="text-center">Малотоннажные<br>(Elf)</h3></td>
                        <td><h3 class="text-center">Среднетоннажные<br>(Forward)</h3></td>
                        <td><h3 class="text-center">Тяжелая серия<br>(GIGA)</h3></td>
                    </tr>
                    <tr>
                        <td>
                            <ul class="nav nav-pills">
                                <li><a href="{{ route("front_configurator_options", {"alias": 1}) }}">ELF 7.5 (NPR75) Полная масса 7.5 т</a></li>
                                <li><a href="{{ route("front_configurator_options", {"alias": 1}) }}">ELF 9.5 (NQR90) Полная масса 9.5 т</a></li>
                                <li><a href="{{ route("front_configurator_options", {"alias": 1}) }}">ELF 7.5 (NPR75) Полная масса 7.5 т Евро-5</a></li>
                            </ul>
                        </td>
                        <td>
                            <ul class="nav nav-pills">
                                <li><a href="{{ route("front_configurator_options", {"alias": 1}) }}">FORWARD 12.0 (FSR90) Полная масса 12 т</a></li>
                                <li><a href="{{ route("front_configurator_options", {"alias": 1}) }}">FORWARD 18.0 (FVR34) Полная масса 18 т</a></li>
                                <li><a href="{{ route("front_configurator_options", {"alias": 1}) }}">FORWARD 12.0 (FSR90) Полная масса 12 т Евро-5</a></li>
                                <li><a href="{{ route("front_configurator_options", {"alias": 1}) }}">FORWARD 18.0 (FVR34) Полная масса 18 т Евро-5</a></li>
                            </ul>
                        </td>
                        <td>
                            <ul class="nav nav-pills">
                                <li><a href="{{ route("front_configurator_options", {"alias": 1}) }}">GIGA 6x4 Шасси, полная масса 33 т</a></li>
                                <li><a href="{{ route("front_configurator_options", {"alias": 1}) }}">GIGA 6x4 Шасси, полная масса 33 т Евро-5</a></li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}






