{% set step = 4 %}
{% block title %}Конфигурация кузовной надстройки Исузу{% endblock %}

{% extends 'front.configurator.layout' %}

{% block configurator %}

    <style>
        .__configurator_gray {
            padding: 20px 20px 10px 0;
            font-size: 20px;
            color: #646464;
        }

        .__configurator_black {
            padding: 20px 20px 10px 0;
            font-size: 24px;
            color: #000000;
        }


        .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
            line-height: 1.42857143;
            padding: 8px;
            vertical-align: top;
            border-top: 0;
        }
    </style>

    <div class="row add-space-for-md xs-padding-25">
        <div class="col-lg-8 col-md-7">
            <h2 style="margin-top: 0">Вы выбрали:</h2>

            <table>
                <tbody>
                <tr>
                    <td class="__configurator_gray">Модель</td>
                    <td class="__configurator_black">ISUZU {{ base.getCategory().title }}</td>
                </tr>
                <tr>
                    <td class="__configurator_gray">Модификация</td>
                    <td class="__configurator_black">{{ base.code }}</td>
                </tr>
                <tr>
                    <td class="__configurator_gray">Полная масса</td>
                    <td class="__configurator_black">{{ base.mass | number_format(0, '.', ' ') }} т</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-lg-4 col-md-5">
            <img src="/img/configurator/products/{{ type_id }}_{{ base.id }}_1.jpg" alt="" style="width: 290px">
        </div>
    </div>


    <div class="row add-space-for-md xs-padding-25">
        <div class="col-lg-7 col-xs-12">

            <h2 style="margin-top: 60px">Стоимость</h2>
            <div class="row add-space-for-md xs-padding-5">
                <!--
                <div class="col-lg-4 col-md-4">
                    <p style="color: #646464; font-size: 18px;">Розничная цена</p>
                    <p class="leasing_price">{{ price | number_format(0, '.', ' ') }} <i class="fa fa-rub" aria-hidden="true"></i></p>
                </div>
                -->
                <div class="col-lg-4 col-md-4">
                    <p style="color: #646464; font-size: 18px;">Цена в лизинг</p>
                    <p class="leasing_price">{{ (price * 0.98) | number_format(0, '.', ' ') }} <i class="fa fa-rub" aria-hidden="true"></i></p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <p style="color: #646464; font-size: 18px;">Цена в кредит</p>
                    <p class="leasing_price">{{ (price * 0.96) | number_format(0, '.', ' ') }} <i class="fa fa-rub" aria-hidden="true"></i></p>
                </div>
            </div>

            <div class="row add-space-for-md xs-padding-5">
                <div class="col-lg-12" style="padding-bottom: 80px">
                    <p style="color: #646464; font-size: 18px;">Розничная цена</p>
                    <p class="leasing_price_big" style="cursor: pointer" data-toggle="modal" data-target="#modal_get_bonus">По запросу</p>
                </div>
            </div>

        </div>
    </div>

    <div class="row add-space-for-md xs-padding-5 hidden-xs">
        <div class="col-lg-12" style="padding-bottom: 80px">
            <p style="padding-top: 12px">
                <a href="{{ route('front_leasing_view', {"id": type_id ~ "_" ~ base.id }) }}" class="btn btn-red">Купить в лизинг</a>
                <a href="{{ route('front_credit_view', {"id": type_id ~ "_" ~ base.id }) }}" class="btn btn-red btn-space-right">Купить в кредит</a>
                <button type="button" class="btn btn-gray-link" data-toggle="modal" data-target="#modal_get_bonus">Получить скидку</button>
            </p>
        </div>
    </div>

    <div class="row add-space-for-md xs-padding-5 visible-xs">
        <div class="col-lg-12">
            <p class="space-xs"><a href="{{ route('front_leasing_view', {"id": type_id ~ "_" ~ base.id }) }}" class="btn btn-red btn-block">Купить в лизинг</a></p>
            <p class="space-xs"><a href="{{ route('front_credit_view', {"id": type_id ~ "_" ~ base.id }) }}" class="btn btn-red btn-block">Купить в кредит</a></p>
            <p class="space-xs text-center"><button type="button" class="btn btn-gray-link" data-toggle="modal" data-target="#modal_get_bonus">Получить скидку</button></p>
        </div>
    </div>


{% endblock %}




