{% set step = 3 %}

{% extends 'front.configurator.layout' %}

{% block configurator %}

    <style>
        .__configurator_gray {
            padding: 20px 20px 10px 0;
            font-size: 20px;
            color: #646464;
        }

        .__configurator_black {
            padding: 20px 20px 10px 0;
            font-size: 24px;
            color: #000000;
        }


        .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
            line-height: 1.42857143;
            padding: 8px;
            vertical-align: top;
            border-top: 0;
        }
    </style>

    <div class="row">
        <div class="col-lg-8 col-md-9">
            <h2 style="margin-top: 0">Вы выбрали:</h2>

            <table>
                <tbody>
                <tr>
                    <td class="__configurator_gray">Модель</td>
                    <td class="__configurator_black">ISUZU {{ base.getCategory().title }}</td>
                </tr>
                <tr>
                    <td class="__configurator_gray">Модификация</td>
                    <td class="__configurator_black">{{ base.code }}</td>
                </tr>
                <tr>
                    <td class="__configurator_gray">Полная масса</td>
                    <td class="__configurator_black">{{ base.mass | number_format(0, '.', ' ') }} т</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-lg-4 col-md-3">
            <img src="{{ base.getCategory().image }}" alt="" style="max-width: 345px; width: 100%">
        </div>
    </div>


    <div class="row">
        <div class="col-lg-7 col-md-9">
            <h2 style="margin-top: 60px">Дополнительные опции</h2>

            <h3 style="padding-top: 12px; color: #646464; font-size: 18px;">Дополнительное обору</h3>

            <table class="table">
                <tbody>
                {% for item in base_options %}
                <tr>
                    <td style="padding-left: 0"><input type="checkbox" class="forn-control"></td>
                    <td>{{ item.title }}</td>
                    <td class="text-right" style="color: #aaa">{{ item.price | number_format(0, '.', ' ')}} <span class="glyphicon glyphicon-ruble" aria-hidden="true"></span></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

            <style>
                .price {
                    font-size: 18px;
                    line-height: 1.78;
                    color: #000000;
                }

                .price_big {
                    font-size: 64px;
                    line-height: 1;
                    color: #000000;
                }
            </style>

            <h2 style="margin-top: 60px">Стоимость</h2>
            <div class="row">
                <div class="col-lg-4">
                    <p style="color: #646464; font-size: 18px;">Розничная цена</p>
                    <p class="price">{{ price | number_format(0, '.', ' ') }} ₽</p>
                </div>
                <div class="col-lg-3">
                    <p style="color: #646464; font-size: 18px;">Цена по акции</p>
                    <p class="price">{{ (price * 0.98) | number_format(0, '.', ' ') }} ₽</p>
                </div>
                <div class="col-lg-5">
                    <p style="color: #646464; font-size: 18px;">Цена от двух и более единиц</p>
                    <p class="price">{{ (price * 0.96) | number_format(0, '.', ' ') }} ₽</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12" style="padding-bottom: 80px">
                    <p style="color: #646464; font-size: 18px;">Цена действительна до {{ "now" | date_modify("+7 day") | date("d.m.Y") }}</p>
                    <p class="price_big">{{ price | number_format(0, '.', ' ') }} ₽</p>
                    <p style="padding-top: 12px"><a href="{{ route("front_configurator_leasing", {"typeId": type_id, "baseId": base_id}) }}" class="btn btn-red">Продолжить</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}









