{% extends 'front.layouts.app' %}

{% block title %}Лизинг{% endblock %}

{% block content %}
    <style>
        .item1 {
            width: 85px;
            height: 28px;
            font-family: GillSans;
            font-size: 28px;
            font-weight: 600;
            line-height: 1.0;
            text-align: left;
            color: #000000;
        }

        .item2 {
            width: 50px;
            height: 28px;
            font-family: GillSans;
            font-size: 18px;
            line-height: 1.56;
            text-align: left;
            color: #646464;
        }

        /*** 123 */
        input[type=range] {
            height: 32px;
            -webkit-appearance: none;
            margin: 10px 0;
            width: 100%;
        }
        input[type=range]:focus {
            outline: none;
        }
        input[type=range]::-webkit-slider-runnable-track {
            width: 100%;
            height: 2px;
            cursor: pointer;
            animate: 0.2s;
            background: #777;
            border-radius: 0;
            border: 0;
        }
        input[type=range]::-webkit-slider-thumb {
            box-shadow: 0;
            border: 0;
            height: 18px;
            width: 36px;
            border-radius: 0;
            background: #000;
            cursor: pointer;
            -webkit-appearance: none;
            margin-top: -8px;
        }
        input[type=range]:focus::-webkit-slider-runnable-track {
            background: #ccc;
        }
        input[type=range]::-moz-range-track {
            width: 100%;
            height: 16px;
            cursor: pointer;
            animate: 0.2s;
            box-shadow: 0px 0px 0px #000000;
            background: #B6B6B6;
            border-radius: 25px;
            border: 1px solid #8A8A8A;
        }
        input[type=range]::-moz-range-thumb {
            box-shadow: 1px 1px 1px #828282;
            border: 1px solid #8A8A8A;
            height: 24px;
            width: 35px;
            border-radius: 6px;
            background: #DADADA;
            cursor: pointer;
        }
        input[type=range]::-ms-track {
            width: 100%;
            height: 16px;
            cursor: pointer;
            animate: 0.2s;
            background: transparent;
            border-color: transparent;
            color: transparent;
        }
        input[type=range]::-ms-fill-lower {
            background: #ccc;
            border: 1px solid #8A8A8A;
            border-radius: 50px;
            box-shadow: 0px 0px 0px #000000;
        }
        input[type=range]::-ms-fill-upper {
            background: #ccc;
            border: 1px solid #8A8A8A;
            border-radius: 50px;
            box-shadow: 0px 0px 0px #000000;
        }
        input[type=range]::-ms-thumb {
            margin-top: 1px;
            box-shadow: 1px 1px 1px #828282;
            border: 1px solid #8A8A8A;
            height: 24px;
            width: 35px;
            border-radius: 6px;
            background: #DADADA;
            cursor: pointer;
        }
        input[type=range]:focus::-ms-fill-lower {
            background: #ccc;
        }
        input[type=range]:focus::-ms-fill-upper {
            background: #ccc;
        }
    </style>

    <style>
        .leasinf_view_comment {
            padding-top: 10px;
            font-size: 18px;
            font-weight: 400;
            line-height: 2;
            color: #777;
        }

        .leasinf_view_red {
            padding-top: 60px;
            font-size: 64px;
            line-height: 0;
            color: #ff2500;
        }

        .leasinf_view_black {
            font-size: 24px;
            line-height: 0;
            color: #000000;
        }
    </style>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Лизинг</h1>
                <h3>Выгодные условия покупки ISUZU в лизинг</h3>
            </div>
        </div>

        <div class="row" style="padding-bottom: 48px">
            <div class="col-md-4">
                <p class="leasinf_view_red"><span class="leasinf_view_black">от</span> 12 мес.</p>
                <p class="leasinf_view_comment">срок лизинга</p>
            </div>
            <div class="col-md-4">
                <p class="leasinf_view_red"><span class="leasinf_view_black">от</span> 10%</p>
                <p class="leasinf_view_comment">первый платеж</p>
            </div>
            <div class="col-md-4">
                <p class="leasinf_view_red">1 день</p>
                <p class="leasinf_view_comment">первый платеж</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h2 class="item1">Расчет</h2>

                <form method="get" action="{{ route('front_leasing_select_download') }}">
                    <input type="hidden" name="price" value="{{ product.price }}">
                    <div class="form-group" style="padding-top: 24px">
                        <label>Срок кредита, мес</label>

                        <div>
                            <div class="col-sm-8 col-md-8" style="padding-left: 0">
                                <input name="period" type="range" min="1" max="5" step="1" value="4">
                            </div>
                            <div class="col-sm-4 col-md-4">
                                <p class="form-control-static"><span id="preiod_value">48</span> мес.</p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" style="padding-top: 24px">
                        <label>Первоначальный взнос</label>

                        <div>
                            <div class="col-sm-8 col-md-9" style="padding-left: 0">
                                <input name="advance" type="range" min="10" max="50" step="1" value="50">
                            </div>
                            <div class="col-sm-4 col-md-3">
                                <p class="form-control-static"><span id="advance_value">50</span>%</p>
                            </div>
                        </div>
                    </div>

                    <p style="padding-top: 48px">
                        <button type="submit" class="btn btn-red" >Оформить заявку</button>
                    </p>
                </form>
            </div>
            <div class="col-md-4">
                <span class="thumbnail">
                    <img src="{{ product.img }}" alt="...">
                </span>

                <h2>{{ product.title }}</h2>
                <p>Кузов: <span>шасси, 2 дв, 2013 м.г.</span></p>
                <p>Двигатель: <span>5.2 л., 155 л.с.</span></p>
                <p style="color: #000000; font-size: 48px;">{{ product.price | number_format(0, '.', ' ')}} <span class="glyphicon glyphicon-ruble" aria-hidden="true" style="color: #000000; font-size: 42px;"></span></p>
            </div>
        </div>


    </div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function(){
        $('[name="period"]').change(function() {
            $('#preiod_value').text($(this).val() * 12);
        });

        $('[name="advance"]').change(function() {
            $('#advance_value').text($(this).val() * 1);
        });
    });
</script>
{% endblock %}