{% extends "admin.layouts.app" %}

{% block title %}Редактировать "Шапку"{% endblock %}
{% block content %}

    <form action="{{ route('admin_headers_bg') }}" method="post" enctype="multipart/form-data" style="display: none">
        {{ csrf_field() }}
        <input type="hidden" name="id" value="{{ model.id }}">
        <input type="hidden" name="value" value="{{ model.id }}">
        <input type="file" name="image" onchange="this.form.submit()">
    </form>

    <div class="row">
        <div class="col-lg-5 col-md-7">
            <h1>Создать новую "Шапку"</h1>

            <div class="form-group">
                <label>Фон</label>
                <p>
                    {% if model.bg is not empty %}
                        <img src="{{ model.path() }}" alt="Загрузить изображение" class="img-thumbnail upload_image" data-value="bg" style="max-width: 350px; cursor: pointer">
                    {% else %}
                        <img src="/img/admin/upload_image.jpg" alt="Загрузить изображение" class="img-thumbnail upload_image" data-value="bg" style="cursor: pointer">
                    {% endif %}
                </p>

                <p class="help-block">Нажмите на изображение для загрузки картинки</p>
            </div>


            <div class="row well">
                <div class="col-md-4">
                    <h3>Картинка 1</h3>
                    {% if model.pic_1 is not empty %}
                        <img src="{{ model.getPic('pic_1') }}" alt="Загрузить изображение" class="img-thumbnail upload_image" data-value="pic_1" style="cursor: pointer">
                    {% else %}
                        <img src="/img/admin/upload_image.jpg" alt="Загрузить изображение" class="img-thumbnail upload_image" data-value="pic_1" style="cursor: pointer">
                    {% endif %}
                </div>
                <div class="col-md-4">
                    <h3>Картинка 2</h3>
                    {% if model.pic_2 is not empty %}
                        <img src="{{ model.getPic('pic_2') }}" alt="Загрузить изображение" class="img-thumbnail upload_image" data-value="pic_2" style="cursor: pointer">
                    {% else %}
                        <img src="/img/admin/upload_image.jpg" alt="Загрузить изображение" class="img-thumbnail upload_image" data-value="pic_2" style="cursor: pointer">
                    {% endif %}
                </div>
                <div class="col-md-4">
                    <h3>Картинка 3</h3>
                    {% if model.pic_3 is not empty %}
                        <img src="{{ model.getPic('pic_3') }}" alt="Загрузить изображение" class="img-thumbnail upload_image" data-value="pic_3" style="cursor: pointer">
                    {% else %}
                        <img src="/img/admin/upload_image.jpg" alt="Загрузить изображение" class="img-thumbnail upload_image" data-value="pic_3" style="cursor: pointer">
                    {% endif %}
                </div>
            </div>

            <form method="post" action="{{ route('admin_headers_update') }}">
                {{ csrf_field() }}
                <input type="hidden" name="id" value="{{ model.id }}">

                <div class="form-group">
                    <label>Заголовок</label>
                    <textarea class="form-control" rows="7" name="title" required>{{ model.title }}</textarea>
                </div>

                <div class="form-group">
                    <label>Подзаголовок</label>
                    <textarea class="form-control" rows="7" name="sub_title" required>{{ model.sub_title }}</textarea>
                </div>

                <div class="form-group">
                    <label>Текст</label>
                    <textarea class="form-control" rows="7" name="description">{{ model.description }}</textarea>
                </div>

                <div class="form-group">
                    <label>Надпись на кнопке</label>
                    <input type="text" name="button" class="form-control" value="{{ model.button }}">
                </div>

                <div class="form-group">
                    <label>Адрес для кнопки</label>
                    <input type="text" name="button_url" class="form-control" value="{{ model.button_url }}">
                </div>

                <div class="form-group">
                    <label>Первая картинка</label>
                    <textarea class="form-control" rows="7" name="add_1">{{ model.add_1 }}</textarea>
                </div>

                <div class="form-group">
                    <label>Вторая картинка</label>
                    <textarea class="form-control" rows="7" name="add_2">{{ model.add_2 }}</textarea>
                </div>

                <div class="form-group">
                    <label>Третья картинка</label>
                    <textarea class="form-control" rows="7" name="add_3">{{ model.add_3 }}</textarea>
                </div>

                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Создать</button>
            </form>
        </div>
    </div>
{% endblock %}


{% block script %}
    <script>
        $(document).ready(function(){

            $('.upload_image').click(function(){
                var value = $(this).attr('data-value').trim();

                $('[name=value]').val(value);
                $('[type=file]').click();
            });
        });
    </script>

    <script>
        $(document).ready(function(){
            $('[name=title]').keyup(function(){
                if ($(this).val().trim().length > 27) {
                    alert('заглавие(текст), не более 27');
                }
            });

            $('[name=sub_title]').keyup(function(){
                if ($(this).val().trim().length > 72) {
                    alert('под Заглавием текст не более 72 символов');
                }
            });

            $('[name=description]').keyup(function(){
                if ($(this).val().trim().length > 123) {
                    alert('ещё ниже текст не более 123 символов');
                }
            });
        });
    </script>
{% endblock %}
