<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Официальный дилер Исузу в Новосибирске{% endblock %}</title>
    <link rel="stylesheet" href="/fonts/GillSansC.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/font-awesome.css" >
    <link rel="stylesheet" href="/css/base.css?v=2017-10-24_002" >
    <link rel='stylesheet' href='/css/desktop.css' media='screen and (min-width: 1440px)'  >
    <link rel='stylesheet' href='/css/tablets.css' media='screen and (min-width: 992px) and (max-width: 1439px)' >
    <link rel='stylesheet' href='/css/mobile.css' media='screen and (min-width: 479px) and (max-width: 991px)' >
    <link rel='stylesheet' href='/css/small.css' media='screen and (min-width: 320px) and (max-width: 478px)' >
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" >
</head>
<body>
<a href="{{ route('front_home') }}" title="" class="main_logo">
    <img src="/img/logo.svg" alt="ISUZU" style="color: yellow">
</a>

<div id="alert_send_message" class="alert alert-danger alert-dismissible" role="alert" style="display: none; width: 100%; position: fixed; top: 0; left: 0; background: #fff; border: 0; z-index: 10000">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <p class="text-center">Спасибо за обращение!<br>Наша компания свяжется с вами в самое ближайшее время.</p>
</div>

<!-- header -->
<div class="container-fluid after_main_logo">
    <div class="row header_before_menu">
        <div class="col-lg-7 col-md-6 col-xs-7 hidden-sm hidden-xs  header_before_menu_info">
            <p>Официальный дилерский центр</p>
        </div>

        <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12  text-right header_before_menu_callback">
            <strong class="hidden-xs">8 800 550 73 83</strong> <button class="btn btn-link hidden-sm hidden-xs" data-toggle="modal" data-target="#modal_callback">Обратный звонок</button>

            <button type="button" class="btn-clear mh-btns-left visible-xs" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" style="margin-top: 16px; margin-right: 20px; float: right">
                <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
            </button>

            <button type="button" class="btn-clear button-for-call visible-xs" data-toggle="modal" data-target="#modal_callback" style="margin-top: 16px; margin-right: 30px; float: right">
                <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
            </button>
        </div>
    </div>

    <!-- menu -->
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="{{ route('front_configurator_index') }}">Продажа автомобилей</a></li>
            <li><a href="{{ route('front_search_index') }}">Каталог</a></li>


            <li><a href="{{ route('front_dashboard_service') }}">Автосервис</a></li>
            <li><a href="{{ route('front_dashboard_parts') }}">Автозапчасти</a></li>
            <li><a href="{{ route('front_dashboard_finance') }}">Финансирование</a></li>
            <li><a href="{{ route('front_dashboard_contacts') }}">Контакты</a></li>

            <!--<li><a href="{{ route('front_news_list') }}">Новости</a></li>-->
            <!--<li><a href="{{ route('front_dashboard_about') }}">О компании</a></li>-->


        </ul>
    </div>
    <!--/ menu -->
</div>
<!--/ header -->
{% block content %}{% endblock %}

<div class="container footer" style="margin-top: 48px">
        <div class="row add-space-for-md">
            <div class="col-lg-12 col-md-12">
                <p class="space-xs">© ISUZU 2017<br><span class="hidden-xs">Официальный дилер автомобилей марки ISUZU</span></p>
            </div>
        </div>
</div>

<!-- for callback -->
<div class="modal fade" id="modal_callback"  tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <h5>Обратный звонок</h5>
                <p class="modal_form_comment">Оставьте свой телефон, чтобы вам перезвонил наш менеджер</p>

                <form style="padding-top: 20px">
                    {{ csrf_field() }}
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" placeholder="Имя" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="phone" class="form-control" placeholder="Телефон" required>
                    </div>
                    <button type="submit" class="btn btn-red">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- order auto part -->
<div class="modal fade" id="modal_order"  tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <h5>Запрос по VIN номеру</h5>
                <p class="modal_form_comment">Просто напишите VIN номер и запчасти, которые вам нужны</p>

                <form style="padding-top: 20px">
                    {{ csrf_field() }}
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" placeholder="VIN" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="comment" class="form-control" placeholder="Запчасти" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="phone" class="form-control" placeholder="Телефон" required>
                    </div>
                    <button type="submit" class="btn btn-red">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- order find part -->
<div class="modal fade" id="modal_find_part"  tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <h5>Подбор по наименованию запчасти</h5>
                <p class="modal_form_comment">Просто напишите запчасти, которые вам нужны</p>

                <form style="padding-top: 20px">
                    {{ csrf_field() }}
                    <div class="form-group">
                        <input type="text" name="comment" class="form-control" placeholder="Запчасти" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" placeholder="Имя" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="phone" class="form-control" placeholder="Телефон" required>
                    </div>
                    <button type="submit" class="btn btn-red">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- get bonus -->
<div class="modal fade" id="modal_get_bonus"  tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <h5>Получить скидку</h5>
                <p class="modal_form_comment">Оставьте свой телефон и мы сделаем вам персональную скидку на автомобиль</p>

                <form style="padding-top: 20px">
                    {{ csrf_field() }}
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" placeholder="Имя" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="phone" class="form-control" placeholder="Телефон" required>
                    </div>
                    <button type="submit" class="btn btn-red">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/js/vendor.js"></script>
<script>
    $("#modal_callback form, #modal_order form, #modal_find_part form, #modal_get_bonus form").submit(function(){

        var url = "{{ route('front_callback_index') }}";

        $.ajax({
            type: "POST",
            url: url,
            data: $(this).serialize(),
            success: function(data) {
                $("#modal_callback, #modal_order, #modal_find_part, #modal_get_bonus").modal('hide');
                $("#alert_send_message").show();
            }
        });

        return false;
    });
</script>
{% block script %}{% endblock %}

<script>
    $(document).ready(function () {
        var isMobile = {
            Android: function () {
                return navigator.userAgent.match(/Android/i);
            },
            BlackBerry: function () {
                return navigator.userAgent.match(/BlackBerry/i);
            },
            iOS: function () {
                return navigator.userAgent.match(/iPhone|iPad|iPod/i);
            },
            Opera: function () {
                return navigator.userAgent.match(/Opera Mini/i);
            },
            Windows: function () {
                return navigator.userAgent.match(/IEMobile/i);
            },
            any: function () {
                return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
            }
        };

        function clear() {
            $(".__effect_zoom_wrap").each(function () {

                $(this).find("img").insertAfter($(this));

                $(this).remove();
            });
        }

        $(window).resize(function () {
            clear()
        });

        var className = "__effect_zoom_wrap";

        if (!isMobile.any()) {
            $("img.__effect_zoom").hover(function () {
                if ($(this).parent().attr("class") !== className) {

                    var parent = $('<div>').addClass(className);
                    parent.width($(this).width());
                    parent.height($(this).height());
                    parent.css("overflow", "hidden");

                    parent.on('mouseover', function () {
                        clear();
                    });

                    $(this).wrap(parent);
                }
            }, clear);
        }
    });
</script>

<script>

    /* Leasing calculator */
    $(document).ready(function () {

        function getInMouth() {

            var price = parseInt($('[name="price"]').val());
            var period = parseInt($('[name="period"]').val()) * 12;
            var advance = parseInt($('[name="advance"]').val());
            var percent =  6.5;

            if (advance < 1) {
                advance = 1;
            }

            console.log(['debug: cal in mouth', price, period, advance]);

            return Math.floor((((price * (percent / 100)) * (period / 12) + price) -  (price / 100 * advance)) / period);
        }


        $('[data-period=' + parseInt($('[name="period"]').val()) + ']' ).css('color', 'red');
        $('[data-advance=' + parseInt($('[name="advance"]').val()) + ']' ).css('color', 'red');


        var element = $(".pay_in_month");

        element.each(function(){
            element.html(getInMouth());
        });

        $('[name="period"]').change(function() {
            $('#preiod_value').text($(this).val() * 12);
            element.html(getInMouth());
        });

        $('[name="advance"]').change(function() {
            $('#advance_value').text($(this).val() * 1);
            element.html(getInMouth());
        });

        /* bottom label */
        $(".__leasing_data_period").click(function(){
            var value = parseInt($(this).attr('data-period'));

            $('[name="period"]').val(value);
            $('[name="period"]').change();

            $(".__leasing_data_period").css('color', 'black');
            $(this).css('color', 'red');
        });

        $(".__leasing_data_advance").click(function(){
            var value = parseInt($(this).attr('data-advance'));

            $('[name="advance"]').val(value);
            $('[name="advance"]').change();

            $(".__leasing_data_advance").css('color', 'black');
            $(this).css('color', 'red');
        });
    });
</script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter44752870 = new Ya.Metrika({
                    id:44752870,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/44752870" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<script async src="https://callkeeper.ru/w/?f79df938"></script>
<noindex><script async src="//track.soctracker.ru/?id=ODQwN2M3ODlhYmY5ZjU3NTM4MzJkZTgzNDlhYzRhYWR8NDk3OQ=="></script></noindex>
</body>
</html>