<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap 101 Template</title>
    <link href="/fonts/GillSansC.css" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/base.css?v=2017-10-24_002" rel="stylesheet">
    <link rel='stylesheet' media='screen and (min-width: 1440px)' href='/css/desktop.css' />
    <link rel='stylesheet' media='screen and (min-width: 992px) and (max-width: 1439px)' href='/css/tablets.css' />
    <link rel='stylesheet' media='screen and (min-width: 479px) and (max-width: 991px)' href='/css/mobile.css' />
    <link rel='stylesheet' media='screen and (min-width: 320px) and (max-width: 478px)' href='/css/small.css' />
</head>
<body>

<a href="{{ route('front_home') }}" title="" class="main_logo">
    <img src="/img/logo.svg" alt="ISUZU" style="color: yellow">
</a>

<!-- header -->
<div class="container-fluid after_main_logo">

    <div class="row header_before_menu">
        <div class="col-lg-7 col-md-6 col-xs-7 hidden-sm hidden-xs  header_before_menu_info">
            <p>Официальный дилерский центр</p>
        </div>

        <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12  text-right header_before_menu_callback">
            <strong class="hidden-xs">(+7 383) 2222-608</strong> <button class="btn btn-link hidden-sm hidden-xs" data-toggle="modal" data-target="#modal_callback">Обратный звонок</button>

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
    </div>

    <!-- menu -->
    <nav class="navbar" style="padding-left: 0px; padding-right: 20px; margin-bottom: 0">
        <div id="navbar navbar-make" class="navbar-collapse collapse no-padding-left">
            <ul class="nav navbar-nav">
                <li><a href="{{ route('front_configurator_index') }}">Конфигуратор</a></li>
                <li><a href="{{ route('front_news_list') }}">Новости</a></li>
                <li><a href="{{ route('front_leasing_info') }}">Лизинг</a></li>
                <li><a href="{{ route('front_dashboard_about') }}">О компании</a></li>
                <li><a href="{{ route('front_dashboard_contacts') }}">Контакты</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </nav>
    <!--/ menu -->
</div>
<!--/ header -->
{% block content %}{% endblock %}

<div class="container footer">
        <div class="row">
            <div class="col-lg-12">
                <p class="space-xs">© ISUZU 2017<br><span class="hidden-xs">Официальный дистрнибьютор автомобилей марки ISUZU</span></p>
            </div>
        </div>
</div>

<div class="modal fade" id="modal_callback"  tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <h5>Обратный звонок</h5>
                <p class="modal_form_comment">Оставьте свой телефон, чтобы вам перезвонил наш менеджер</p>

                <form style="padding-top: 20px" id="callback">
                    {{ csrf_field() }}
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" placeholder="Имя" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="phone" class="form-control" placeholder="Телефон" required>
                    </div>
                    <button type="submit" class="btn btn-red">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/js/vendor.js"></script>
<script>
    $("#callback").submit(function(){

        var url = "{{ route('front_callback_index') }}";

        $.ajax({
            type: "POST",
            url: url,
            data: $(this).serialize(),
            success: function(data) {
                alert('Сообщение отправленно!');
            }
        });

        return false;
    });
</script>
{% block script %}{% endblock %}

<script>
    $(document).ready(function () {

        function clear() {
            $(".__effect_zoom_wrap").each(function () {

                $(this).find("img").insertAfter($(this));

                $(this).remove();
            });
        }

        $(window).resize(function () {
            clear()
        });

        var className = "__effect_zoom_wrap";

        $("img.__effect_zoom").hover(function () {
            if ($(this).parent().attr("class") !== className) {

                var parent = $('<div>').addClass(className);
                parent.width($(this).width());
                parent.height($(this).height());
                parent.css("overflow", "hidden");

                parent.on('mouseover', function () {
                    clear();
                });

                $(this).wrap(parent);
            }
        }, clear);
    });
</script>
</body>
</html>