<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap 101 Template</title>

    <link href="/fonts/GillSansC.css" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/main.css?v=2017-10-23_002" rel="stylesheet">
</head>
<body>

<a href="{{ route('front_home') }}" title="" class="main_logo">
    <img src="/img/logo_white.png" alt="">
</a>

<!-- header -->
<div class="container-fluid after_main_logo">

    <div class="row header_before_menu">
        <div class="col-lg-7 col-md-6 col-xs-7  header_before_menu_info">
            <p>Официальный дилерский центр</p>
        </div>

        <div class="col-lg-5 col-md-6 col-xs-5  text-right header_before_menu_callback">
            <strong>(+7 383) 2222-608</strong> <button class="btn btn-link" data-toggle="modal" data-target="#modal_callback">Обратный звонок</button>
        </div>
    </div>

    <!-- menu -->
    <nav class="navbar" style="padding-left: 0px; padding-right: 20px; margin-bottom: 0">
        <div id="navbar navbar-make" class="navbar-collapse collapse no-padding-left">
            <ul class="nav navbar-nav">
                <li><a href="{{ route('front_news_list') }}">Новости</a></li>
                <li><a href="{{ route('front_leasing_info') }}">Лизинг</a></li>
                <li><a href="{{ route('front_dashboard_about') }}">О компании</a></li>
                <li><a href="{{ route('front_dashboard_contacts') }}">Контакты</a></li>
            </ul>
            <!--
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="./" style="color: red">Мой заказ</a></li>
                <li class="active"><a href="./" ><span style="border:1px solid red; border-radius: 15px; color: red;">3</span></a></li>
                <li class="active"><a href="./" style="font-size: 24px"><i class="fa fa-bars" aria-hidden="true"></i></a></li>
            </ul>
            -->
        </div><!--/.nav-collapse -->
    </nav>
    <!--/ menu -->
</div>
<!--/ header -->
{% block content %}{% endblock %}

<footer class="footer">
        <div class="row">
            <div class="col-lg-12">
                © ISUZU 2017<br>Официальный дистрнибьютор автомобилей марки ISUZU
            </div>
            <div class="col-lg-12 text-right">
            </div>
        </div>
</footer>

<div class="modal fade" id="modal_callback"  tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <h5>Обратный звонок</h5>
                <p class="modal_form_comment">Оставьте свой телефон, чтобы вам перезвонил наш менеджер</p>

                <form style="padding-top: 20px" id="callback">
                    {{ csrf_field() }}
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" placeholder="Имя" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="phone" class="form-control" placeholder="Телефон" required>
                    </div>
                    <button type="submit" class="btn btn-red">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/js/vendor.js"></script>
<script>
    $("#callback").submit(function(){

        var url = "{{ route('front_callback_index') }}";

        $.ajax({
            type: "POST",
            url: url,
            data: $(this).serialize(),
            success: function(data) {
                alert('Сообщение отправленно!');
            }
        });

        return false;
    });
</script>
{% block script %}{% endblock %}
</body>
</html>