{% extends "admin.layouts.app" %}

{% block title %}Редактировать{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-5 col-md-7">
            <h1>Редактировать</h1>

            <form method="post" action="{{ route('admin_video_update') }}">
                {{ csrf_field() }}
                <input type="hidden" name="id" value="{{ model.id }}">

                <div class="form-group">
                    <label>Адрес (url)</label>
                    <input type="text" name="url" value="{{ model.url }}" class="form-control" required>
                    <p class="help-block">Пример: https://www.youtube.com/<strong>embed</strong>/Q_trb5A9PC0</p>
                </div>

                <div class="form-group">
                    <label>Заголовок</label>
                    <textarea class="form-control" rows="7" name="title">{{ model.title }}</textarea>
                </div>

                <div class="form-group">
                    <label>Описание</label>
                    <textarea class="form-control" rows="7" name="description">{{ model.description }}</textarea>
                </div>

                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Создать</button>
            </form>
        </div>
    </div>
{% endblock %}
