{% set title = 'Создать новую товар' %}

{% extends "admin.layouts.app" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-5 col-md-7">
            <h1>{{ title }}</h1>

            {% block load_image %}{% endblock %}

            {% if part.id > 0 %}
            <form class="form-horizontal" method="post" action="{{ route('admin_parts_update') }}">
                <input type="hidden" name="id" value="{{ part.id }}">
            {% else %}
            <form class="form-horizontal" method="post" action="{{ route('admin_parts_insert') }}">
            {% endif %}
                {{ csrf_field() }}

                <div class="form-group">
                    <label class="col-md-3 control-label">Псевдоним</label>
                    <div class="col-md-9">
                        <input type="text" name="alias" value="{{ part.alias }}" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Артикул</label>
                    <div class="col-md-9">
                        <input type="text" name="vendor_code" value="{{ part.vendor_code }}" class="form-control" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Наименование</label>
                    <div class="col-md-9">
                        <input type="text" name="title" value="{{ part.title}}" class="form-control" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Цена</label>
                    <div class="col-md-9">
                        <input type="text" name="price" value="{{ part.price }}" class="form-control" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Количество</label>
                    <div class="col-md-9">
                        <input type="text" name="amount" value="{{ part.amount }}" class="form-control" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Приоритет</label>
                    <div class="col-md-9">
                        <input type="text" name="priority" value="{{ part.priority }}" class="form-control" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Описание</label>
                    <div class="col-md-9">
                        <textarea class="form-control" rows="7" name="description" required>{{ part.description }}</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Сохранить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
