{% set title = 'Редактировать товар' %}

{% extends "admin.parts.add" %}

{% block load_image %}
    <div class="form-group">
        <label>Картинка {{ part.path() }}</label>
        <p>
            {% if part.image is not empty %}
                <img id="upload_image" src="{{ part.path() }}" alt="Загрузить изображение" class="img-thumbnail" style="max-width: 350px; cursor: pointer">
            {% else %}
                <img id="upload_image" src="/img/admin/upload_image.jpg" alt="Загрузить изображение" class="img-thumbnail" style="cursor: pointer">
            {% endif %}
        </p>

        <form action="{{ route('admin_parts_image') }}" method="post" enctype="multipart/form-data" style="display: none">
            {{ csrf_field() }}
            <input type="hidden" name="id" value="{{ part.id }}">
            <input type="file" name="image" onchange="this.form.submit()">
        </form>

        <p class="help-block">Нажмите на изображение для загрузки картинки</p>
    </div>
{% endblock %}

{% block gallery %}
<div class="row well" style="margin-top: 48px;">
    <div class="col-lg-3 col-md-4">
        <div class="thumbnail">
            <form enctype="multipart/form-data" method="post" action="{{ route('admin_parts_images_add') }}">
                {{ csrf_field() }}
                <input type="hidden" name="id" value="{{ part.id }}">
                <input type="file" name="image" onchange="this.form.submit()">
            </form>
        </div>
    </div>

    {% for image in part.images %}
        <div class="col-lg-12 col-md-12">
            <div class="thumbnail">
                <div class="caption">
                    <p class="text-center">
                        <a href="{{ route('admin_parts_images_remove', {'id' : image.id}) }}" class="btn btn-danger" role="button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                    </p>
                </div>
                <img src="{{ image.pathUrl() }}" alt="...">
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function(){
            $('#upload_image').click(function(){
                $('[type="file"]').click();
            });
        });
    </script>
{% endblock %}
