{% extends "admin.layouts.app" %}

{% block title %}Создать новое "Преимущество"{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-5 col-md-7">
            <h1>Создать новую форму</h1>

            <form method="post" action="{{ route('admin_forms_update') }}">
                {{ csrf_field() }}
                <input type="hidden" name="id" value="{{ model.id }}">
                
                <div class="form-group">
                    <label>Отображение</label>

                    <select name="in_modal" class="form-control">
                        <option value="0">Виджет</option>
                        <option value="1" {% if model.in_modal %}selected{% endif %}>Окно</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Заголовок формы</label>
                    <input type="text" name="form_title" value="{{ model.form_title }}" class="form-control">
                </div>

                <div class="form-group">
                    <label>Описание формы</label>
                    <textarea class="form-control" rows="7" name="form_description">{{ model.form_description | raw }}</textarea>
                </div>

                <div class="form-group">
                    <label>Заголовок имени</label>
                    <input type="text" name="name_label" value="{{ model.name_label }}" class="form-control">
                </div>

                <div class="form-group">
                    <label>Заголовок телефона</label>
                    <input type="text" name="phone_label" value="{{ model.phone_label }}" class="form-control">
                </div>

                <div class="form-group">
                    <label>Пример имени</label>
                    <input type="text" name="name_placeholder" value="{{ model.name_placeholder }}" class="form-control">
                </div>

                <div class="form-group">
                    <label>Пример телефона</label>
                    <input type="text" name="phone_placeholder" value="{{ model.phone_placeholder }}" class="form-control">
                </div>

                <div class="form-group">
                    <label>Заголовок сообщения</label>
                    <input type="text" name="message_label" value="{{ model.message_label }}" class="form-control">
                </div>

                <div class="form-group">
                    <label>Пример сообщения</label>
                    <input type="text" name="message_placeholder" value="{{ model.message_placeholder }}" class="form-control">
                </div>

                <div class="form-group">
                    <label>Надпись на кнопке</label>
                    <input type="text" name="button_title" value="{{ model.button_title }}" class="form-control">
                </div>

                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Создать</button>
            </form>
        </div>
    </div>
{% endblock %}
