{% extends "admin.layouts.app" %}

{% block title %}Наши преимущества{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-6 col-md-10">
            <h1>Наши преимущества</h1>
        </div>

        <div class="col-lg-1 col-md-2">
            <p style="padding-top: 24px">
                <a href="{{ route('admin_forms_add') }}" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>  Добавить</a>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-7 col-md-12">
            {% if  (list | length) > 0 %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Роль</th>
                    <th>Заголовок формы</th>
                    <th>Заголовок имени</th>
                    <th>Заголовок телефона</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for item in list %}
                    <tr>
                        <td>
                            {% if item.in_modal > 0 %}
                                окно
                            {% else %}
                                виджет
                            {% endif %}
                        </td>
                        <td>{{ item.form_title }}</td>
                        <td>{{ item.name_label}}</td>
                        <td>{{ item.phone_label }}</td>
                        <td class="text-right text-nowrap">
                            {% if item.visible > 0 %}
                                <a href="{{ route('admin_forms_hide', {'id': item.id}) }}" class="btn btn-link"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                            {% else %}
                                <a href="{{ route('admin_forms_show', {'id': item.id}) }}" class="btn btn-link"><span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span></a>
                            {% endif %}
                            <a href="{{ route('admin_forms_edit', {'id': item.id}) }}" class="btn btn-link"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {{ list.render() | raw }}
                {% else %}
                    <div class="alert alert-info" role="alert">Нет созданных форм</div>
                {% endif %}
        </div>
    </div>
{% endblock %}
