<div class="modal fade" tabindex="-1" role="dialog" id="get_phone">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p class="text-right"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></p>

                <div>
                    <h3>{{ data.modal.form_title | replace({'city_name': city}) }}</h3>
                    <p>{{ data.modal.form_description | replace({'city_name': city}) }}</p>

                    <form method="post" action="{{ route('callback') }}">
                        {{ csrf_field() }}
                        <div class="form-group text-left">
                            <label class="text-left">{{ data.modal.message_label }}</label>
                            <textarea class="form-control" rows="5" name="message" placeholder="{{ data.modal.message_placeholder }}"></textarea>
                        </div>
                        <div class="form-group text-left">
                            <label>{{ data.modal.name_label }}</label>
                            <input type="text" name="name" class="form-control" placeholder="{{ data.modal.name_placeholder }}" required>
                        </div>
                        <div class="form-group text-left">
                            <label class="text-left">{{ data.modal.phone_label }}</label>
                            <input type="text" name="phone" class="form-control" placeholder="{{ data.modal.phone_placeholder }}" required>
                        </div>
                        <button type="submit" class="btn btn-warning">{{ data.modal.button_title }}</button>
                    </form>

                    <p style="padding-top: 24px; font-size: 80%">Ваши контактные данные в безопасности<br>и не будут переданы третьим лицам</p>
                </div>
            </div>
        </div>
    </div>
</div>
