{% if (data.list | length) > 0 %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center for-edit" style="margin-top: 48px; line-height: 38px; text-align: center; color: #445B9F;">{{ data.title }}</h2>
        </div>
    </div>

    {% for item in data.list %}
        <div class="row" style="border: 2px solid #445B9F; border-radius: 50px; margin-bottom: 12px">
            <div class="col-md-5 col-xs-12" style="padding: 25px">
                <p><img src="{{ item.path }}" alt="..." width="100%"></p>

                {# кнока #}
                {% if data.button is not empty and data.button.label is not empty %}
                    {% if item[data.button.name] is not empty %}
                        <p><a href="{{ item[data.button.name] }}" target="_blank" class="btn btn-primary btn-lg btn-block">{{ data.button.label | replace({'city_name': city}) }}</a></p>
                    {% else %}
                        <p><button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#get_phone">{{ data.button.label | replace({'city_name': city}) }}</button></p>
                    {% endif %}
                {% endif %}
            </div>

            <div class="col-md-7 col-xs-12" style="padding: 25px">
                <table class="table table-hover table-striped">
                    <tbody>
                    {% for value in data.label %}
                        <tr>
                            <th>{{ value.label }}:</th>
                            <td>{{ item[value.name] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endfor %}
{% endif %}
